article {
    padding: 30px;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}
.cert {
    padding: 20px 72px 16px 24px;
}

.cert ul {
    display: inline-block;
    vertical-align: top;
}

footer {
    margin-top: 50px;
    text-align: center;
}