body p h1 h2 h3 h4 a {
    font-family: 'Roboto', sans-serif;
}
ul li {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
body p {
    font-size: 20px;
}

article {
    padding: 30px;
}
h1 {
    font-size: 30px;
}

h2 {
    font-size: 23px;
}
.cert {
    padding: 20px 72px 16px 24px;
}

.cert ul {
    display: inline-block;
    vertical-align: top;
}

.experiencia li {
    padding-bottom: 25px;
}

footer {
    margin: 0 0;
    text-align: center;
    background: #2d3748;
    color: #ddbc72;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 16px;
    font-size: 22px;
}

.italico {
    font-style: italic;
}